<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Entry Management</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/landing.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <h1>Entry Management Software</h1>
    <a href="/visitor/checkin" class="btn btn-lg btn-default">Check in as Guest</a>
    <a href="/visitor/checkout" class="btn btn-lg btn-default">Check out Guest</a>
    <a href="/host" class="btn btn-lg btn-default">Register as host</a>
  </body>
</html>
